<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Core.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.Data.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="22.1.34" targetFramework="net48" />
</packages>